
.vscode/

__pycache__/

env36/Scripts/

env36/

envChess/

input/

models/

.vs/

data/

*.aup

*.au

*.whl

*.rar

source/Chess.build/

source/testSavedModel.build/

Game/

*.zip

chessEnv/
